* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial;
}
body {
    margin: 0;
    padding: 0;
    background: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
img {
    max-width: 100%;
}
header {
    max-height: 56px;
    margin: 5px 10px 0px;
    flex: 1;
}
.menu-controls {
    float: right;
    height: 56px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gmail, .imagens {
    font-size: 15px;
}
.gmail a, .imagens a{
    color: rgba(0, 0, 0, 0.87);
}
.gmail a:hover, .imagens a:hover{
    text-decoration: underline;
}
.more {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.perfil {
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.perfil img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
#center {
    padding-top: 200px;
    flex: 2;
}
.container {
    width: 584px;
    max-width: 100%;
    margin: 0 auto;
}
.logo {
    width: 272px;
    max-width: 100%;
    margin: 0 auto;
}
.busca-control {
    width: 100%;
    height: 44px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    padding: 0 15px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
.busca-control:hover,
.busca-control:focus {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);;
}
.input {
    width: calc(100% - 100px);
    padding: 0 15px;
    font-size: 16px;
    background-color: #ffffffcc;
}
.right-side {
    display: flex;
}
.keyboard-icon {
    height: 100%;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.keyboard-icon img {
    width: 20px;
}
.search-icon,
.mic-icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-icon svg {
    height: 20px;
    width: 20px;
}
.mic-icon svg {
    height: 24px;
    width: 24px;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn,
.lucky-btn {
    padding: 10px 16px;
    margin: 15px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    background-color: #d4d4d481;
    border: 1px solid #f8f9fa;
}
.search-btn:hover,
.lucky-btn:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px #0000001a;
}
footer {
    flex: 1;
    max-height: 100px;
    background-color: #f2f2f21f;
}
.country {
    padding: 15px 20px;
    color: #000000;
    text-align: center;
}
.country a {
    text-decoration: none;
    color: #000;
}
.country a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.more-options {
    border-top: 1px solid #ccc;
    padding: 15px 20px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.left a,
.right a {
    margin: 0 15px;
    color: #000000;
}
.left a:hover,
.right a:hover {
    text-decoration: underline;
}
.left a:first-child,
.right a:last-child {
    margin: 0 0;
}

@media (max-width: 600px) {
    .logo {
        max-width: 90%;
    }
    .busca-control {
        max-width: 90%;
        margin: 0 auto;
    }
    .more {
        text-align: center;
    }
    footer {
        max-height: 200px;
    }
    .left,
    .right {
        float: initial;
        margin: 15px auto;
    }
}
@media (max-width: 400px) {
    .buttons {
        flex-direction: column;
    }
}












